
pre {
  margin: 0;
  padding: 0;
  display: inline;
  font: var(--editor-font-size) 'Ubuntu Mono', monospace;
}

.comment {
  color: gray;
  font-style: italic;
  &:before {
    content: '// ';
  }
}

.const {
  color: rgb(78, 166, 255);
  font-weight: bold;
  margin: 0;
}

.var {
  color: #FD7A71;
  font-style: italic;
  margin-right: 1ch;
}

.strg {
  color: #FFB45E;
  font-style: italic;
}

.ctrl {
  color: #FFBE5E;
  font-style: italic;
  margin-right: 1ch;
}
.fn {
  color: #B392F0;
  // font-weight: 900;
  font-style: italic;
  cursor: pointer;
  background-color: transparent;
  padding: 2px 5px;
  border-radius: 4px;
  margin: 0 0 0 -0.5ch;
  transition: all ease .3s;

  &:hover {
    color: white;
    background-color: rgba(143, 90, 236, 0.75);
  }
  &:active {
    opacity: 0.7;
  }
}