/*
 * I DONT CARE HOW STINKY IT IS TO PUT ALL YOUR SASS IN 1 FILE
 * TAKE *YOUR* SASS SOMEWHERE ELSE 😡
 */

/* --- VARS --- */
$fontSize: 18px;
$fontFamily: 'Ubuntu Mono';
$lineHeight: 26px;
$bg: rgb(41, 45, 53);
$bgLight: rgb(50, 55, 65);
$titleBarHeight: 35px;
$tabBarHeight: 45px;
$statusBarHeight: 22px;
$consoleHeight: 150px;

@font-face {
  font-family: 'Segoe UI', sans-serif;
  src: url('fonts/segoeui.ttf'); }
@font-face {
  font-family: 'Overpass Mono', monospace;
  src: url('./fonts/OverpassMono-Regular.ttf'); }

:root {
  --editor-text-padding: 5px 0;
  --line-height: 26px;
}

@keyframes no {
  25%, 50%, 75% { transform: translate3d(-2px, 0, 0); }
  40%, 60% { transform: translate3d(2px, 0, 0); }
}
       
/* --- GLOBALS --- */
* { box-sizing: border-box; }
body {
  padding: 0;
  margin: 0;
  background-color: $bg;
  font-size: $fontSize;
  font-family: 'Ubuntu Mono';
  scrollbar-width: 8px;
}

::-webkit-scrollbar { width: 8px; }
::-webkit-scrollbar-track { background-color: transparent; }
::-webkit-scrollbar-thumb { background-color: #3E4552; }

.App {
  // height: calc(100vh - #{$consoleHeight + $statusBarHeight});
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* --- TITLE BAR --- */
.title-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 35px;
  font-size: 16px;
  color: #99A1B0;

  .left, .right {
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .logo {
    max-height: 60%;
    padding: 0 10px;
  }
  
  .btn {
    font-family: 'Segoe UI';
    height: 100%;
    display: inline-flex;
    align-items: center;
    padding: 0 10px;
    cursor: default;
    white-space: nowrap;
    &:hover { background-color: #393D43; }

    &:last-child { cursor: pointer; }
  }
}

/* --- TABS --- */
.tabs {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 45px;
  background-color: rgb(30, 34, 39);

  .tab {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 100%;
    padding: 0 15px;
    color: rgb(215, 192, 132);
    border-right: 1px solid rgb(24, 26, 31);
    cursor: pointer;
    font-family: 'Segoe UI';
    font-size: 16px;

    &.active { 
      background-color: $bg;
      .close { visibility: visible; color: rgb(220, 220, 220); }
    }
    
    &:hover {
      background-color: rgb(50, 56, 66);
      .close { visibility: visible; }
    }

    span { margin: 10px; }
    
    .close {
      visibility: hidden;
      display: inline-flex;
      border-radius: 5px;
      color: rgb(141, 142, 134);
      padding: 4px;
      
      &:hover {
        background-color: rgb(63, 68, 75);
        animation: no .65s ease forwards;
        transform: translate3d(0, 0, 0);
        backface-visibility: hidden;
        perspective: 1000px;
      }
    }
  }
}

img.emoji {
  height: 1em;
  width: 1em;
  margin: 0 .05em 0 .1em;
  vertical-align: -0.1em;
}

/* --- EDITOR --- */
.editor {
  width: 100%;
  height: calc(100vh - #{$titleBarHeight + $tabBarHeight + $consoleHeight + $statusBarHeight});
  overflow-y: auto;
  padding-bottom: $lineHeight;
  
  .welcome {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    .options {
      width: 50%;
      max-width: 350px;
      display: flex;
      flex-direction: column;

      img {
        width: 100%;
        margin-top: 100px;
      }
    }
  }
}

/* --- CODE TEXT ---*/
.code {
  color: rgba(238, 238, 238, 0.9);
  font-family: inherit;
  line-height: $lineHeight;
  margin: 0;
  padding: 0;
  width: 100%;
  user-select: none;
  counter-reset: line;

  .codeLine {
    display: flex;
    flex-direction: row;
    align-items: center;
    min-height: $lineHeight;
    margin: 0;
    padding: 0;
    position: relative;
    transition: all ease .2s;
    padding-left: 8ch;

    &:hover { background-color: rgba(255, 255, 255, 0.05); }

    &:before {
      counter-increment: line;
      content: counter(line);
      color: #495162;
      position: absolute;
      left: 3ch;
      top: 2px;
    }
  }
  
  pre {
    margin: 0;
    padding: 0;
    display: inline;
    font-family: $fontFamily;
  }

  .tb {
    width: 2ch;
    height: $lineHeight;
    border-left: 2px solid #3B4048;
  }
  
  .comment {
    color: #4a5361;
    font-style: italic;
  }
  
  .const {
    color: rgb(78, 166, 255);
    font-weight: bold;
    margin: 0;
  }
  
  .var {
    color: #FD7A71;
    font-style: italic;
    margin-right: 1ch;
  }
  
  .strg {
    color: #FFB45E;
    font-style: italic;
  }
  
  .ctrl {
    color: #FFBE5E;
    font-style: italic;
    margin-right: 1ch;
  }
  .fn {
    color: #B392F0;
    // font-weight: 900;
    font-style: italic;
    cursor: pointer;
    background-color: transparent;
    padding: 2px 5px;
    border-radius: 4px;
    margin: 0 0 0 -0.5ch;
    transition: all ease .3s;
  
    &:hover {
      color: white;
      background-color: rgba(143, 90, 236, 0.75);
    }
    &:active {
      opacity: 0.7;
    }
  }
  

  i {
    color: #DA9151;

    &.ri {
      color: #FF7B72;
      font-style: italic;
    }
    &.c { color: #76BCF9; }
    &.fn {
      color: #8866C3;
      font-style: italic;
      font-weight: 900;
      cursor: pointer;
      transition: all ease .3s;

      &:hover {
        opacity: .7;
      }
    }
  }

  .fn-def { display: inline; }
  
  .inline-input {
    background-color: transparent;
    border: none;
    width: 4ch;
    color: white;
    font-family: inherit;
    font-size: inherit;
    border-bottom: 2px solid gray;
    margin-left: 10px;
    border-radius: 0;
    padding: 0;
  }
}

.map-grid {
  display: grid;
  width: max-content;
  margin-left: 7ch;
  position: relative;
  user-select: none;
  grid-gap: 5px;
  transition: opacity ease .5s;
  opacity: 1;

  &.faded { opacity: 0; }
  
  &:before {
    content: 'arr = [';
    position: absolute;
    top: 0;
    left: -7ch;
    color: rgba(238, 238, 238, 0.9);
    font-size: $fontSize;
    height: $lineHeight;
    display: inline-flex;
    align-items: center;
    width: 13ch;
  }
  &:after {
    content: ']';
    position: absolute;
    bottom: 0;
    left: 100%;
    color: white;
    font-size: $fontSize;
    height: $lineHeight;
    display: inline-flex;
    align-items: center;
  }
}

/* --- GRID --- */
.grid {
  display: grid;
  width: 21ch;
  height: auto;
  margin-left: 6ch;
  position: relative;
  user-select: none;
  cursor: default;
  grid-template-columns: repeat(8, $lineHeight);
  
  &:before {
    content: 'a: [';
    position: absolute;
    top: 0;
    left: -4ch;
    color: white;
    font-size: $fontSize;
    height: $lineHeight;
    display: inline-flex;
    align-items: center;
    width: 13ch;
  }
  &:after {
    content: ']';
    position: absolute;
    bottom: 0;
    left: 100%;
    color: white;
    font-size: $fontSize;
    height: $lineHeight;
    display: inline-flex;
    align-items: center;
  }
}

/* --- CELLS --- */
.cell {
  // width: $lineHeight;
  // height: $lineHeight;
  height: 100%;
  border: 2px solid rgba(255, 255, 255, 0.08);
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: x-large;
  position: relative;
  background-color: transparent;
  user-select: none;
  transition: border ease .3s, background-color ease .3s;

  // span { filter: grayscale(100%); }
  
  &.accessible {
    border-color: rgba(218, 165, 32, 0.2);
    cursor: pointer;
    
    &:hover {
      background-color: rgba(218, 165, 32, 0.05);
      border-color: rgba(218, 165, 32, 0.3);
    }
    &:active {
      border-color: rgba(167, 25, 25, 0.4);
      background-color: rgba(167, 25, 25, 0.1);
    }
  }

  &.harvesting-disabled span {
    cursor: default;
    filter: grayscale(75%);
    opacity: .8;
  }

  &:hover {
    border-color: rgba(255, 255, 255, 0.2);
    background-color: rgba(255, 255, 255, 0.01);
  }
  
  
  &.equipped {
    cursor: pointer;
    border: 1px solid rgb(30, 192, 16);
    
    &:hover { background-color: rgba(218, 165, 32, 0.15); }
    &:active { background-color: rgba(218, 165, 32, 0.75); }
  }

  // &:not(:last-child):after {
  //   content: ',';
  //   position: absolute;
  //   bottom: -3px;
  //   right: -5px;
  //
  //   font-size: 16px;
  //   color: rgba(255, 255, 255, 0.3);
  // }
}

/* --- CONSOLE --- */
.console {
  color: #8B919C;
  // position: absolute;
  bottom: $statusBarHeight;
  left: 0;
  width: 100%;
  height: $consoleHeight;
  // padding: 0 20px;
  border-top: 1px solid #44464B;
  display: flex;
  flex-direction: column;
  background-color: #23272E;

  .console-toolbar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding: 0 20px;
    margin-bottom: 5px;

    .console-tab {
      font-family: 'Segoe UI';
      font-size: 10px;
      text-transform: uppercase;
      color: #999B9D;
      padding: 8px 5px;
      margin-right: 10px;
      cursor: pointer;
      
      &:first-child {
        color: white;
        border-bottom: 1px solid white;
      }
      &:hover { color: white; }
    }
  }

  .logs {
    display: flex;
    flex-direction: column-reverse;
    justify-content: flex-start;
    overflow-y: auto;

    .log {
      padding: 5px 20px;
      margin: 0;
      width: 100%;
      color: #ABB2BF;
      font-size: 14px;
      font-family: 'Ubuntu Mono';
      white-space: break-spaces;
      border-bottom: 1px solid rgba(255, 255, 255, 0.05);
      line-height: 16px;

      &:last-child { border-top: 1px solid rgba(255, 255, 255, 0.05); }
    }
  }
}

/* --- STATUS BAR --- */
.status-bar {
  width: 100%;
  height: $statusBarHeight;
  font-size: 12px;
  // position: fixed;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  padding: 0 20px;
  color: #959DAC;
  background-color: #1E2227;
  user-select: none;

  .sb-btn {
    position: relative;
    height: 100%;
    padding: 0 8px;
    cursor: pointer;
    display: flex;
    align-items: center;
    margin-right: 5px;
    &:hover { background-color: rgba(255, 255, 255, 0.2); }

    .submenu {
      position: absolute;
      bottom: 100%;
      left: 0;
      background-color: black;
      border: 1px solid white;
      opacity: 0;
      visibility: hidden;
      transition: all ease .3s;

      &.active {
        visibility: visible;
        opacity: 1;
      }
    }
  }

  .tools {

    b { margin-right: 5px; }

    .toolbox {
      display: grid;
      grid-template-columns: repeat(5, $lineHeight);

      .tool {
        font-size: $fontSize;
        height: $lineHeight;
        border: 1px solid black;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: all ease .2s;
        &:hover {
          background-color: rgba(255, 255, 255, 0.2);
        }
      }
    }
  }
}


/* LETS JUST START OVER HUH */

.play-grid {
  display: grid;
  width: 100%;
  height: 100%;
}

.btn {
  color: rgba(255, 255, 255, 0.85);
  background-color: #317cfd;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  padding: .5rem 1.5rem;
  font: 20px "Readex Pro";
  cursor: pointer;
  box-shadow: inset 0 0 2px 5px rgba(255, 255, 255, 0.01),
              0 2px 10px 1px rgba(30, 143, 255, 0.5);
  transition: all ease .15s;
  
  &:not(:last-child) { margin-bottom: 20px; }
  &:hover { opacity: 0.85; border: 1px solid rgba(255, 255, 255, 0.3); }
  &:active { transform: translateY(2px); }

  &.lg {
    font-size: 32px;
    font-weight: 600;
    padding: .75rem 2rem;
  }

  &.green {
    background-color: #3caa4f;
    box-shadow: inset 0 0 2px 5px rgba(255, 255, 255, 0.01),
                0 2px 10px 1px rgba(67, 186, 87, 0.5);
  }
}